eFakturADM.Web/Service References/PIRWCFService/XMLSchema_1606292474.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PIRService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PIRService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GGI1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GGI2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Site" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeInformation" nillable="true" type="tns:EmployeeInformation" />
  <xs:complexType name="ArrayOfEmployeeInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeInformation" nillable="true" type="tns:EmployeeInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeInformation" nillable="true" type="tns:ArrayOfEmployeeInformation" />
  <xs:complexType name="ArrayOfOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organization" nillable="true" type="tns:Organization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganization" nillable="true" type="tns:ArrayOfOrganization" />
  <xs:complexType name="Organization">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Div" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organization" nillable="true" type="tns:Organization" />
</xs:schema>